html{
    scroll-behavior: smooth;
}

body{
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/background.jpg);

}
.container{
  min-width: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  gap: 20px;
}
.head1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  background-color: transparent;
}
.head2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}
h1{
  background-color: transparent;
  font-size: 60px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}


h2{
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

nav li{
  display:inline;
  padding-right:20px;
  font-family: 'Lobster', cursive;
  font-size: 60px;

}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  /*Your code here - position relative to the parent */
  /*Your code here - place 500px left and 40px higher */;
}

.skip a:focus{
  background: white;
  top: 0;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
}


footer{
  background-color: white;
  color: white;
  /* grid-column: 1 / -1;
  grid-row: 7 / auto; */
  grid-column: 1/span 1;
  grid-row: 5/span 1;
  padding-top: 30px;
  text-align: center;
}
footer h3 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2;
  font-family:'Lobster', cursive;
}
/* Regular Icon */
.user::before {
  content: '\f007';
  font-family: "Font Awesome 6 free";
  font-weight: 400;
}

/* Solid Icon */
.cloud::before {
  content: '\f0c2';
  font-family: "Font Awesome 6 free";
  font-weight: 900;
}


.fontawesomeicon {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #d1deee;
}

.animate {
  font-size: 40px;
  margin: 0 0 0 100px;
}

.animate span {
  display: inline-block;
}

.box span {
  color: #FFFFFF;
  opacity: 1;
  transform: translate(-150px, 0) scale(.5);
  animation: leftRight 1s forwards;
}

@keyframes leftRight {
  40% {
      transform: translate(30px, 0) scale(.7);
      opacity: 1;
      color:  #466995;
  }
  60% {
      color: #87CEEB;
  }
  80% {
      transform: translate(0) scale(2);
      opacity: 0;
  }
  100% {
      transform: translate(0) scale(1);
      opacity: 1;
  }
}


nav{
  background-color: #ddd;
  padding: 20px 0;
  text-align: center;
  /*Your code here*/
  /*Span the top row*/
}
.page-header {
    position: relative;
    background: url(../images/page-header.JPG) no-repeat center top fixed;
    background-size: cover;
    height: 900px;
  }

.header{
  height: 900px;
  width:100%;
  text-align: center;
  color: #fff;
  background-size: 100% 100%;
  background-image:url("../images/header_bg.jpg");
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  position: relative;
  
}
main{
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}
aside{
  grid-column: 1/span 1;
  grid-row: 4/span 1;
}
.gallery{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;

}
header p{
  display: inline-block;
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.images{
  border: auto;
  margin: auto;
  padding: auto;
  text-align:center;
  
}

img{
    Width: 60%;
}

img:hover{
  width: 70%;
}

aside p{
  font-family: "Bradley Hand", cursive, Serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #466995;
  text-align: center;
  margin-bottom: 5px;
}

.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  position: relative;
  margin: auto;

}
/* Applies styles when Reduced Motion is enabled */
@media (prefers-reduced-motion:reduce) {
  .box span {
      animation: none !important;
      transform: none !important;
  }
}
@media all and (min-width: 800px){

}

  nav{
    background-color: #ddd;
    text-align: right;
    padding: 35px 0px;
    align-self: center;
  }



@media screen and (prefers-reduced-motion: reduce){
  html{
    scroll-behavior: auto; /* Removes scroll animation */
  }
}
