html{
    scroll-behavior: smooth;
}

body{
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/background.jpg);

}
.skip-to-main-content-link {
  background: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-weight: 700;
  left: 1%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
}
.container{
  min-width: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, auto);
  gap: 20px;
}
.current{
  color: #e1aabf;
}
a.current:hover {
  color: #4f80ca;
}
.head1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  background-color: transparent;
}
.head2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}
h1{
  background-color: transparent;
  font-size: 60px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}


h2{
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

nav li{
  display:inline;
  padding-right:20px;
  font-family: 'Lobster', cursive;
  font-size: 60px;

}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  background: white;
  top: 0;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
}


/* Regular Icon */
.user::before {
  content: '\f007';
  font-family: "Font Awesome 6 free";
  font-weight: 400;
}

/* Solid Icon */
.cloud::before {
  content: '\f0c2';
  font-family: "Font Awesome 6 free";
  font-weight: 900;
}


.fontawesomeicon {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #d1deee;
}



nav{
  background-color: #ddd;
  padding: 20px 0;
  text-align: center;
  /*Your code here*/
  /*Span the top row*/
}
.page-header {
    position: relative;
    background: url(../images/page-header.JPG) no-repeat center top fixed;
    background-size: cover;
    height: 900px;
  }

.header{
  height: 900px;
  width:100%;
  text-align: center;
  color: #fff;
  background-size: 100% 100%;
  background-image:url("../images/header_bg.jpg");
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  position: relative;
  
}
main{
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}
aside{
  grid-column: 1/span 1;
  grid-row: 4/span 1;
}

footer{
  background-color: black;
  color: black;
  grid-column: 1/span 1;
  grid-row: 5/span 1;
  padding-top: 30px;
  text-align: center;
}
footer h3 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2;
  font-family:'Lobster', cursive;
}
.gallery{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;

}
header p{
  display: inline-block;
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.images{
  border: auto;
  margin: auto;
  padding: auto;
  text-align:center;
  
}

img{
    Width: 60%;
}

img:hover{
  width: 70%;
}

aside p{
  font-family: "Bradley Hand", cursive, Serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  color: #466995;
  text-align: center;
  margin-bottom: 5px;
}

.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  position: relative;
  margin: auto;

}
  nav{
    background-color: #ddd;
    text-align: right;
    padding: 35px 0px;
    align-self: center;
  }

  .card {
    width: 70%;
    padding: 20px;
    border: 6px solid #466995;
    box-shadow: 20px 20px 0 #466995;
    border-radius: 50px;
    position: relative;
    grid-column: 1/span 1;
    grid-row: 6/span 1;
}

.card h2 {
    color: #466995;
    font-size: 34px;
    text-transform: uppercase;
}

.card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
    grid-gap: 30px;
}

.card .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
}

.card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0 10px 20px;
    border: 5px solid #466995;;
    box-shadow: 10px 10px 0 #466995;;
    color: #466995;
    border-radius: 50px;
}

.card .row .form-group label {
    line-height: 40px;
    color: #466995;
    font-size: 24px;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
}

.row .col:nth-child(6) {
    margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
}

.card .row input[type="submit"] {
    border: 5px solid #466995;;
    box-shadow: 10px 10px 0 #466995;;
    padding: 10px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #466995;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 1);
    color: #ffffff;
    transition: all 0.4s;
}

@media screen and (prefers-reduced-motion: reduce){
  html{
    scroll-behavior: auto; /* Removes scroll animation */
  }
}
@media all and (min-width: 800px){
  .gallery {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    grid-column: 1/span 1;
    grid-row: 11/span 1;
}

.gallery img {
    width: 470px;
    height: auto;
    margin: 10px
}

}
